@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

:root {
    --bg-hero: #B4D0E7;
    --bg-button: #0061FF;
    --border-color: #EDEDEE;
    --bg-designit: #A2D39B;
    --border-designit: #D1E9CD;
    --bg-designit-big: #F5F5F5;
    --bg-asu: #61082B;
    --bg-uf: #0093CE;
    --bg-topps: #FF1C1C;
    --bg-wbr: #D5001F;
    --bg-hearst: #B4D0E7;
    --bg-loney-planet: #0D2481;
    --bg-clear-channel: #FFD830;
    --bg-try: #B4D0E7;
    --text-try: #61082B;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

figure img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    border: none;
    outline: none;
}

/* LAYOUT */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 25px;
}

.container-xl {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 25px;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
}


div[class^="col-"] {
    padding: 0 25px;
}


.col-4 {
    width: calc((100% / 12) * 4);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-12 {
    width: 100%;
}

.large {
    width: calc((((100% - 100px) / 3) * 2) + 75px);
    padding-right: 25px;
}

.small {
    width: calc(((100% - 100px) / 3) + 25px);
    padding-left: 25px;
}



.button {
    display: inline-block;
    line-height: 40px;
    padding: 0 20px;
    background-color: var(--bg-button);
    color: var(--white);
    text-align: center;
}

/* HEADER */

.page-header {
    padding: 24px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-link {
    line-height: 35px;
    padding: 0 20px;
}

.logo {
    padding-right: 20px;
    ;
}

.small-button {
    display: inline-block;
    line-height: 35px;
    padding: 0 20px;
    background-color: var(--bg-button);
    color: var(--white);
}

/* HERO */

.hero {
    background-color: var(--bg-hero);
    padding: 85px 0 75px;
}

.hero-title {
    font-size: 77px;
    font-weight: 800;
    margin-bottom: 50px;
}

.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
}

.arrow {
    margin-top: auto;
    font-size: 50px;
    line-height: 50px;
}

/* SECTION PLANES */

.planes {
    padding: 85px 0;
}

.section-title {
    font-size: 40px;
    margin-bottom: 60px;
}

.plane-selection {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 60px;
}

.plane-payment {
    display: flex;
    align-items: center;
    gap: 5px;
}

.radio-button {
    display: inline-block;
    width: 20px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid var(--border-color);
}

.checked {
    border: 5px solid var(--bg-button);
}

/* CARD */

.card {

    border: 1px solid var(--border-color);
    font-size: 14px;
    height: 100%;
}

.card-user {
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}

.card-content {
    padding: 35px 30px;
}

.card-content .button {
    width: 100%;
    margin-bottom: 35px;
}

.card-title {
    font-size: 25px;
    margin-bottom: 20px;
}

.price {
    font-weight: 400;
    margin-bottom: 50px;

}

.price span {
    display: block;
    font-weight: 700;
    margin-bottom: 25px;
}

.card-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 50px;
}

.card-list-item {
    display: flex;
    align-items: baseline;
    gap: 8px;
}

.buy {
    margin-bottom: 40px;
}

.link {
    text-decoration: underline;
    color: var(--bg-button);
}

.separator {
    width: 48px;
    height: 2px;
    background-color: var(--border-color);
    margin-bottom: 50px;
}

.list-title {
    margin-bottom: 35px;
}

.card-list-item.blue i {
    color: var(--bg-button);
}

.mb-0 {
    margin-bottom: 0;
}

/* SECTION PARTNER */

.partner {
    padding: 75px 0;
}

.button-white {
    background-color: var(--white);
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--black);
    border-left: 1px solid var(--black);
    color: var(--black);
}

.partner-text {
    margin-bottom: 35px;
}

/* SECTION BUSINESS */

.business {
    padding: 75px 0;
}

.business-card-title {
    font-size: 24px;
    margin-bottom: 35px;
}

/* SECTION CLIENTS */

.clients {
    padding: 135px 0 150px;
}